{% extends 'base.html' %}

{% block title %}
Crypota
{% endblock %}

{% block body %}
<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Welcome to CryptoWorld!</h1>
      <p class="fs-5 text-body-secondary">Здесь собраны реализованные нами методы шифрования для вашего дальнейшего использования, отсортированные по их уровню криптостойкости!</p>
    </div>	
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Пройдёмся поподробнее от худшего к лучшему</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2 text-body-emphasis">Шифр Цезаря</h3>
        <p>Метод шифрования, популярный во всём мире. Очень прост в использовании, но одновременно с этим имеет низкую криптостойкость.</p>
        <a href="/caesar" class="btn btn-primary">
          Перейти...
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2 text-body-emphasis">Шифр Цезаря(custom)</h3>
        <p>По сути, представляет собой оригинальный Шифр Цезаря, но используя случайную генерацию ключа.</p>
        <a href="/caesar(custom)" class="btn btn-primary">
          Перейти...
        </a>
      </div>
      <div class="feature col">
        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        </div>
        <h3 class="fs-2 text-body-emphasis">Шифр Винжера</h3>
        <p>Метод шифрования, основанный на Шифре Цезаря, используя сдвиг по ключевому слову и содержащий 26 алфавитов.</p>
        <a href="/vinzher" class="btn btn-primary">
          Перейти...
        </a>
      </div>
    </div>
  </div>
  <div class="b-example-divider"></div>
  <div class="container px-4 py-5" id="hanging-icons">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Шифр A-Z</h3>
          <p>Метод шифрования, работающий на основе алгоритма замены: каждая буква заменяется на её номер в алфавите.</p>
          <a href="/a-z" class="btn btn-primary">
            Перейти...
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Шифр замены</h3>
          <p>Метод шифрования, заменяющий каждую букву на определённый символ из словаря.</p>
          <a href="/zamena" class="btn btn-primary">
            Перейти...
          </a>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis">Шифр XOR</h3>
          <p>Метод шифрования с высшей криптостойкостью из представленных. Заменяет каждую букву на основе случайно сгенерированного ключа.</p>
          <a href="/xor" class="btn btn-primary">
            Перейти...
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}